@model Problem

<form method="post" class="row">
    <input asp-for="Id" hidden /> @* need this to pass Id around for update operation *@
    <div class="row">
        <div class="col-6">
            <div class="form-floating my-3">
                <input disabled asp-for="Title" type="text" class="form-control" />
                <label asp-for="Title"></label>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-floating my-3">
                <input disabled asp-for="Tag" type="text" class="form-control" />
                <label asp-for="Tag"></label>
                <span asp-validation-for="Tag" class="text-danger"></span>
            </div>
            <div class="form-floating my-3">
                <input disabled asp-for="Frequency" type="text" class="form-control" />
                <label asp-for="Frequency"></label>
                <span asp-validation-for="Frequency" class="text-danger"></span>
            </div>
            <div class="form-floating my-3">
                <input disabled asp-for="Difficulty" type="text" class="form-control" />
                <label asp-for="Difficulty"></label>
                <span asp-validation-for="Difficulty" class="text-danger"></span>
            </div>
            <hr />
            <div class="row">
                <div class="col-6">
                    <button type="submit" class="btn btn-primary form-control">Delete</button>
                </div>
                <div class="col-6">
                    <a asp-controller="Problem" asp-action="Index" class="btn btn-secondary form-control">Back</a>
                </div>
            </div>
        </div>
    </div>
</form>