
<div class="container">
    <a asp-controller="Problem" asp-action="AddProblem" class="btn btn-primary float-end my-3">
        Add
    </a>
    <table id="problem" class="table table-striped table-dark" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Tag</th>
                <th>Difficulty</th>
                <th>Frequency</th>
                <th>LastUpdate</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts
{
    <script src="~/js/Problem.js"></script>
}