<div class="container">
    <h1>Problem List</h1>
    <a asp-controller="Problem" asp-action="Upsert" class="btn btn-primary float-end my-3">
        Add
    </a>
    <table id="problem" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Title</th>
                <th>Tag</th>
                <th>Difficulty</th>
                <th>Frequency</th>
                <th>Last Update</th>
                <th>Timing</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
    <h1 class="my-3">Data Analysis</h1>
    <div>
        <canvas id="myChart"></canvas>
    </div>
</div>

@section Scripts
{
    <script src="~/js/Problem.js"></script>
    <script src="~/js/ChartData.js"></script>
}