@model ProblemVM
@using System.Security.Claims;
@{
    var claimsIdentity = (ClaimsIdentity)User.Identity;
    var userId = claimsIdentity.FindFirst(ClaimTypes.NameIdentifier).Value;
    Model.Problem.ApplicationUserId = userId;
}

<div>
    <form method="post" class="row">
        <input asp-for="Problem.Id" hidden /> @* need this to pass Id around for update operation *@
        <input asp-for="Problem.ApplicationUserId" hidden />
        <div class="row">
            <div class="col-6">
                <div class="my-3">
                    <label asp-for="Problem.Title"></label>
                    <input asp-for="Problem.Title" type="text" class="form-control" placeholder="Enter the title of the problem"/>
                    <span asp-validation-for="Problem.Title" class="text-danger"></span>
                </div>
                <div class="my-3">
                    <label asp-for="Problem.Tag"></label>
                    <input asp-for="Problem.Tag" type="text" class="form-control" placeholder="Enter the topic/tag (e.g., hash map, tree, etc.)" />
                    <span asp-validation-for="Problem.Tag" class="text-danger"></span>
                </div>
                <div class="my-3">
                    <label asp-for="Problem.Frequency"></label>
                    <input asp-for="Problem.Frequency" type="text" class="form-control" placeholder="Enter number of attempts to solve the problem" value="Enter number of attempts to solve the problem" />
                    <span asp-validation-for="Problem.Frequency" class="text-danger"></span>
                </div>
                <div class="my-3">
                    <label asp-for="Problem.Timing"></label>
                    <input asp-for="Problem.Timing" type="text" class="form-control" placeholder="Enter the time it takes to solve the problem in minutes" value="Enter the time it takes to solve the problem in minutes" />
                    <span asp-validation-for="Problem.Timing" class="text-danger"></span>
                </div>
                <div class="my-3">
                    <label asp-for="Problem.Difficulty"></label>
                    <select asp-for="Problem.Difficulty" asp-items="@Model.DifficultyList" class="form-select">
                        <option disabled selected>Select Level</option>
                    </select>
                    <span asp-validation-for="Problem.Difficulty" class="text-danger"></span>
                </div>
                <hr />
                <div class="row">
                    @if (Model.Problem.Id != 0)
                    {
                        <div class="col-6">
                            <button type="submit" class="btn btn-primary form-control">Update</button>
                        </div>
                    }
                    else
                    {
                        <div class="col-6">
                            <button type="submit" class="btn btn-primary form-control">Add</button>
                        </div>
                    }

                    <div class="col-6">
                        <a asp-controller="Problem" asp-action="Index" class="btn btn-secondary form-control">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>