@* @{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@

@{
    ViewData["Title"] = "Home Page";
}

@* <div class="jumbotron text-center">
    <h1 id="typed-output"></h1>
</div> *@



<div class="h-100">
    <div class="container-fluid full-width-container">
        <div class="row">
            @* <video autoplay muted loop>
                <source src="your-video.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video> *@
            test
        </div>
        <div class="row bg-success text-white">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div class="row bg-primary text-white">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
    </div>
</div>


@section Scripts {
    <script>
        // document.addEventListener('DOMContentLoaded', function () {
        //     let typed = new Typed('#typed-output', {
        //         strings: ["Welcome to CodeTrack!", "Solve Problems", "Track Progress", "Ace Interviews!"],
        //         typeSpeed: 50,
        //         backSpeed: 25,
        //         startDelay: 500,
        //         backDelay: 1000,
        //         loop: true,
        //     });
        // });

    </script>
}





