@* @{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@

@{
    ViewData["Title"] = "Home Page";
}

<div class="h-100">
    <div class="container-fluid full-width-container">
        @* Video background section  *@
        <div class="row">
            <div id="video-container">
                <video id="background-video" autoplay muted loop>
                    <source src="~/video/background-video.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <div class="overlay"></div>
                <div class="content">
                    <div class="jumbotron text-center">
                        <h1 id="typed-output" class="text-white" style="min-height:10px"></h1>
                        <p>
                            Welcome to CodeTrack – Your Ultimate LeetCode Companion. Track your coding journey effortlessly with our powerful tool designed to streamline your LeetCode grinding process. Input your data, record your progress, and let CodeTrack revolutionize the way you conquer coding challenges.

                            Unlock a world of insights with our advanced features! From frequency and timing displayed in sleek bar charts, to a pie chart revealing the distribution of difficulty levels, and a radar chart capturing problem characteristics – CodeTrack offers it all. Gain a comprehensive overview of your coding prowess and watch your skills soar to new heights. CodeTrack – where progress meets precision.
                        </p>
                    </div>
                </div>

                <svg class="wave-divider" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                    <path fill="white" fill-opacity="1" d="M0,256L60,240C120,224,240,192,360,176C480,160,600,160,720,176C840,192,960,224,1080,240C1200,256,1320,256,1380,256L1440,256L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path>
                </svg>
            </div>
        </div>

        @* show charts section *@
        <div class="row d-flex flex-column m-5 justify-content-center align-content-center">
            <div class="row justify-content-center align-content-center pb-5">
                <div class="col align-self-center justify-content-center">
                    <div class="row h-100 align-content-center justify-content-center">
                        <div class="col-8 my-auto">
                            <ul class="custom-list">
                                <li class="mb-5">Visualize the frequency of each problem</li>
                                <li class="mb-5">Each bar represents a problem, and the height corresponds to the frequency</li>
                                <li class="mb-5">Help identify which problems are more common</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col text-center justify-content-center align-content-center">
                    <div class="row h-100 align-content-center justify-content-center">
                        <div class="col-8 my-auto">
                            <div class="card shadow">
                                <div class="card-body">
                                    <canvas id="barChartDemo"></canvas>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row d-flex flex-column m-5 justify-content-center align-content-center">
            <div class="row justify-content-center align-content-center pb-5">
                <div class="col text-center justify-content-center align-content-center">
                    <div class="row h-100 align-content-center justify-content-center">
                        <div class="col-8 my-auto">
                            <div class="card shadow">
                                <div class="card-body">
                                    <canvas id="radarChartDemo"></canvas>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col align-self-center justify-content-center">
                    <div class="row h-100 align-content-center justify-content-center">
                        <div class="col-8 my-auto">
                            <ul class="custom-list">
                                <li class="mb-5">Identify Your Strength and Weakness</li>
                                <li class="mb-5">Show Characteristics of problems</li>
                                <li class="mb-5">Provide comprehensive Overview</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row d-flex flex-column m-5 justify-content-center align-content-center">
            <div class="row justify-content-center align-content-center pb-5">
                <div class="col align-self-center justify-content-center">
                    <div class="row h-100 align-content-center justify-content-center">
                        <div class="col-8 my-auto">
                            <ul class="custom-list">
                                <li class="mb-5">Show the distribution of problems based on difficulty</li>
                                <li class="mb-5">Provide general overview of your progress</li>
                                <li class="mb-5">Each slice represents a difficulty level, and the size corresponds to the number of problems in that difficulty category</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col text-center justify-content-center align-content-center">
                    <div class="row h-100 align-content-center justify-content-center">
                        <div class="col-8 my-auto">
                            <div class="card shadow">
                                <div class="card-body">
                                    <canvas id="pieChartDemo"></canvas>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row d-flex flex-column m-5 justify-content-center align-content-center">
            <div class="row justify-content-center align-content-center pb-5">
                <div class="col text-center justify-content-center align-content-center">
                    <div class="row h-100 align-content-center justify-content-center">
                        <div class="col-8 my-auto">
                            <div class="card shadow">
                                <div class="card-body">
                                    <canvas id="bubbleChartDemo"></canvas>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col align-self-center justify-content-center">
                    <div class="row h-100 align-content-center justify-content-center">
                        <div class="col-8 my-auto">
                            <ul class="custom-list">
                                <li class="mb-5">Compare progress based on frequency and timing data</li>
                                <li class="mb-5">Visualize both frequency and timing in a single chart</li>
                                <li class="mb-5">Each bubble represents a problem, and the position on the chart corresponds to the timing and frequency</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div id="second-wave">
                <div class="wave-divider">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                        <path fill="#000d13" fill-opacity="1" d="M0,256L60,240C120,224,240,192,360,176C480,160,600,160,720,176C840,192,960,224,1080,240C1200,256,1320,256,1380,256L1440,256L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path>
                    </svg>
                </div>
            </div>
        </div>


    </div>
    <div class="row text-white p-5" style="background-color: #000d13;">
        <div class="container text-white">
            <div class="row p-5">
                <div class="col text-center">
                    <h1 class="text-white">Optimize learning: speed up, share insights, and effortlessly track progress</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row h-100 align-content-center justify-content-center">
                        <div class="col-6 my-auto">
                            <h4 class="text-white">Export Report</h4>
                            <h5 class="text-white">Swiftly generate progress reports in Excel format</h5>
                            <p class="text-white pb-5">Track, visualize, and analyze your coding progress effortlessly with our report generation feature. Elevate your learning experience with insightful data analysis</p>

                            <h4 class="text-white">Import Report</h4>
                            <h5 class="text-white">Incorporate the capability to effortlessly import your reports</h5>
                            <p class="text-white pb-5">Import and modify Excel reports effortlessly! Update your data and reupload for seamless progress tracking.</p>

                            <h4 class="text-white">Build With</h4>
                            <h5 class="text-white">Passion, Love, Enthusiasm</h5>
                            <p class="text-white">This web application is developed utilizing ASP.NET Core 7, Chart.js, the DataTables API, and the EPPlus library. MySQL Server serves as the database, with data storage facilitated through Entity Framework</p>
                            <div class="row pt-5">
                                <div class="col">
                                    <svg style="fill: #ffffff;" width="72" height="72" viewBox="0 0 340 378" xmlns="http://www.w3.org/2000/svg" class="cert-header-icon"><path d="M158.167 2.502C150.135 4.76 148.205 5.812 82 44.013 12.831 83.925 11.995 84.521 5.228 98.692L1.5 106.5v165l3.728 7.808c6.797 14.235 7.384 14.65 78.772 55.756 76.299 43.933 71.084 41.424 86 41.381 13.647-.039 15.215-.595 36.5-12.943 7.7-4.468 36.204-20.913 63.342-36.545 52.729-30.374 55.406-32.179 61.334-41.351C339.297 273.041 339 276.712 339 189c0-87.712.297-84.041-7.824-96.606-5.928-9.172-8.605-10.977-61.334-41.351C242.704 35.411 214.2 18.95 206.5 14.464 184.503 1.648 172.115-1.418 158.167 2.502M87.929 129.367c-9.93 2.678-19.154 10.497-24.085 20.417-3.685 7.414-3.661 71.065.03 78.496 10.37 20.877 35.098 27.776 53.885 15.032 19.078-12.942 21.674-42.283 3.741-42.283-6.196 0-12.5 6.137-12.5 12.169 0 10.617-13.203 15.734-20.25 7.848L86 217.968v-57.936l2.75-3.078c7.047-7.886 20.25-2.769 20.25 7.848 0 6.032 6.304 12.169 12.5 12.169 13.356 0 16.388-17.097 5.805-32.73-8.589-12.686-24.791-18.806-39.376-14.874m99.983.913c-4.692 3.162-5.88 6.078-5.897 14.47L182 152h-6.532c-11.322 0-17.501 4.39-17.433 12.385.077 8.874 4.866 12.599 16.215 12.608L182 177v24l-7.75.007c-11.349.009-16.138 3.734-16.215 12.608-.068 7.995 6.111 12.385 17.433 12.385H182l.015 7.25c.027 13.279 7.631 19.859 17.525 15.164 5.079-2.41 6.754-5.788 7.268-14.652l.449-7.762H230v6.766c0 8.126 2.123 12.758 7.062 15.407 9.798 5.255 17.927-1.51 17.934-14.923L255 226h6.532c11.207 0 17.468-4.384 17.468-12.231C279 205 273.861 201 262.596 201H255v-24h7.596c11.265 0 16.404-4 16.404-12.769 0-7.847-6.261-12.231-17.468-12.231H255l-.004-7.25c-.007-13.413-8.136-20.178-17.934-14.923-4.939 2.649-7.062 7.281-7.062 15.407V152H207.257l-.449-7.762c-.796-13.744-9.582-20.235-18.896-13.958M207 189v12h23v-24h-23v12" fill-rule="evenodd"></path></svg>
                                </div>
                                <div class="col">
                                    <svg style="fill: #ffffff;" width="72" height="72" aria-hidden="true" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg" class="cert-header-icon"><path d="M0 32v448h448V32H0zm243.8 349.4c0 43.6-25.6 63.5-62.9 63.5-33.7 0-53.2-17.4-63.2-38.5l34.3-20.7c6.6 11.7 12.6 21.6 27.1 21.6 13.8 0 22.6-5.4 22.6-26.5V237.7h42.1v143.7zm99.6 63.5c-39.1 0-64.4-18.6-76.7-43l34.3-19.8c9 14.7 20.8 25.6 41.5 25.6 17.4 0 28.6-8.7 28.6-20.8 0-14.4-11.4-19.5-30.7-28l-10.5-4.5c-30.4-12.9-50.5-29.2-50.5-63.5 0-31.6 24.1-55.6 61.6-55.6 26.8 0 46 9.3 59.8 33.7L368 290c-7.2-12.9-15-18-27.1-18-12.3 0-20.1 7.8-20.1 18 0 12.6 7.8 17.7 25.9 25.6l10.5 4.5c35.8 15.3 55.9 31 55.9 66.2 0 37.8-29.8 58.6-69.7 58.6z"></path></svg>
                                </div>
                                <div class="col">
                                    <svg style="fill: #ffffff;" aria-hidden="true" width="72" height="72" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg" class="cert-header-icon"><path d="M448 73.143v45.714C448 159.143 347.667 192 224 192S0 159.143 0 118.857V73.143C0 32.857 100.333 0 224 0s224 32.857 224 73.143zM448 176v102.857C448 319.143 347.667 352 224 352S0 319.143 0 278.857V176c48.125 33.143 136.208 48.572 224 48.572S399.874 209.143 448 176zm0 160v102.857C448 479.143 347.667 512 224 512S0 479.143 0 438.857V336c48.125 33.143 136.208 48.572 224 48.572S399.874 369.143 448 336z"></path></svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row h-100 align-content-center justify-content-center">
                        <div class="col-8 my-auto">

                            <div class="row">
                                <img class="pb-3" src="~/img/demo-export-1.png" alt="demo-image-1">
                            </div>
                            <div class="row">
                                <img src="~/img/demo-export-2.png" alt="demo-image-2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script src="~/js/HomePage.js"></script>
}





